{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/pitch.css')}}">
{% endblock %}

{% block content %}

                <div class="container" id="body2">
                    <div class="row">
                            <ul>
                                <a class="ratings btn btn-primary back_btn" href="/">Go Back</a>
                            </ul>
                        </div>

                            <div class="row col-md-3">
                            {{macro.displayPitches(pitches)}}


                            </div>

                </div>
   
{% endblock %}