@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


#body2 {
    font-family: 'Merriweather', serif;
    background-color: #062a78; 
    color: #fff;
    font-weight: bold;
    
}